<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<header th:insert="/fragments/header :: headerMain"> </header>

<h1> Список звезд </h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col"> Название </th>
        <th scope="col"> Класс </th>
        <th scope="col"> Люмен </th>
        <th scope="col"> Фамилии ученых </th>
        <th scope="col"> Действия </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${starlist}" >
        <td th:text="${el.name}"></td>
        <td th:text="${el.classStar}"></td>
        <td th:text="${el.lumen}"></td>
        <td>
        <div th:if="!${#lists.isEmpty(el.scientists)}">
            <ul th:each="sc: ${el.scientists}">
            <li> <p th:text="${sc.surname}"> </p> </li>
            </ul>
        </div>

        <div th:if="${#lists.isEmpty(el.scientists)}">

                Нет данных об ученых
       </div>
        <td>
        <a th:href="'/star/add/' + ${el.UID} + '/scientists/'"> Редактировать </a>
        </td>
    </tr>
    </tbody>
</table>

</div>

<a href="/star/add" class="btn btn-success"> Добавить звезду </a>
</body>
</html>