<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<header th:insert="/fragments/header :: headerMain"> </header>

<h1> Список звезд </h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col"> Название </th>
        <th scope="col"> Класс </th>
        <th scope="col"> Люмен </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${starlist}" >
        <td th:text="${el.name}"></td>
        <td th:text="${el.classStar}"></td>
        <td th:text="${el.lumen}"></td>
    </tr>
    </tbody>
</table>

</div>

<a href="/star/add" class="btn btn-success"> Добавить звезду </a>
</body>
</html>