<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Авторизация </title>
</head>
<body>
<div th:if="${message}">
 Пользователь уже существует
</div>

<p th:text="${message}"></p>

<form th:action="@{/registration}" th:object="${user}" method="post">
    <label> Логин </label>
    <input class="form-control" placeholder="Логин пользователя" th:field="*{login}" type="text" id="login" name="login">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: darkred"> </div>
    <label> E-mail </label>
    <input class="form-control" placeholder="Электронная почта пользователя" th:field="*{email}" type="text" name="email">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: darkred"> </div>
    <label> Пароль </label>
    <input class="form-control" placeholder="Пароль" type="text" th:field="*{password}" name="password">
    <div class="alert alert-danger" role="alert"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: darkred"> </div>
    <label> Имя </label>
    <input class="form-control" placeholder="Имя пользователя" th:field="*{username}" type="text" name="username">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: darkred"> </div>
    <label> Фамилия </label>
    <input class="form-control" placeholder="Фамилия пользователя" th:field="*{surname}" type="text" name="surname">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: darkred"> </div>
    <label> Дата рождения </label>
    <input class="form-control" placeholder="Дата рождения" th:field="*{dateOfTheBirth}" type="date" name="dateOfTheBirth">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dateOfTheBirth')}" th:errors="*{dateOfTheBirth}" style="color: darkred"> </div>

    <input class="btn btn-primary" type="submit" value="Добавить пользователя">
</form>
</body>
</html>