<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Галактики</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<header th:insert="/fragments/header :: headerMain"> </header>

<h1> Список галактик </h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col"> Название </th>
        <th scope="col"> Диаметр D25 </th>
        <th scope="col"> Масса М25 в пределах D25 </th>
        <th scope="col"> Скорость вращения V внешних областей галактик </th>
        <th scope="col"> Светимость в люменах </th>
        <th scope="col"> Действия </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${galacticlist}" >
        <td th:text="${el.name}"></td>
        <td th:text="${el.diametr}"></td>
        <td th:text="${el.weight}"></td>
        <td th:text="${el.rotationSpeed}"></td>
        <td th:text="${el.lumen}"></td>

        <td>
            <a th:href="'/galactic/galactic-info/' + ${el.UID}"> Редактировать </a>
        </td>
          </tr>
    </tbody>
</table>

</div>

<a href="/galactic/add" class="btn btn-success"> Добавить галактику </a>
</body>
</html>